extends templates/layout.pug

block content
  main
    h2.visually-hidden Work experience timeline
    ol.timeline
      li.job.transition.job--elastic
        .job__wrapper
          h3.job__title.color-white Senior Engineer at Elastic
          h4.job__prev-title.color-white Accessibility lead focusing on Kibana (the main app) and the design system
          ul
            li.job__desc Building a culture of accessibility throughout design and development with trainings, fostering champions, and sharing resources across the organization
            li.job__desc Defining specs and developing complex components to meet WCAG and WAI-ARIA guidelines with a focus on practical and usable accessibility
            li.job__desc Verifying work across the org through code review and (automated and manual) testing in a litany of desktop browser, OS, and screen reader combinations
          p.job__duration <time datetime='2018-06'>June 2018</time>–Present

      li.job.transition.job--crowdstrike
        .job__wrapper
          h3.job__title.color-white Senior UI Engineer ⅠⅠ at CrowdStrike
          ul
            li.job__desc UX tech lead of parallel quarterly major initiatives, completing: UI architecture, scoping and estimating work, creating timelines, prioritizing tickets, and team mentorship
            li.job__desc Fostered strong cross‐team communication and technical ownership in small teams of UI engineers, leading the team to achieve their quarterly goals
            li.job__desc Guided technical direction of broader UI team with heavy emphasis on scaling (from 10 to 30+ engineers), accessibility, and component design
            li.job__desc Evolved interview process to reflect modern web development and reduce unconscious bias
          p.job__duration <time datetime='2017-09'>Sept 2017</time>–<time datetime='2018-06'>June 2018</time>

      li.job.transition.job--linkedin
        .job__wrapper
          h3.job__title.color-white Senior UI Engineer at LinkedIn
          h4.job__prev-title.color-white Previously, UI Engineer
          ul
            li.job__desc Reduced support case volume 25% by migrating a legacy project to a new architecture, normalizing disparate APIs, and fixing user flows for common tasks
            li.job__desc Helped teams deliver on-time by hopping onto at-risk projects
            li.job__desc Set standards for new projects, including: full test coverage, BEM, and style documentation and a mock server (reclaiming ~12 developer-weeks in Q4 2016)
            li.job__desc Organized and lead Ember office hours and moderated mob code reviews to help elevate teammates’ development skills
          p.job__duration <time datetime='2015-07'>June 2015</time>–<time datetime='2017-08'>Aug 2017</time>

      li.job.transition.job--mindstream
        .job__wrapper
          h3.job__title.color-white Frontend Web Developer at Mindstream Interactive
          ul
            li.job__desc Built responsive sites, ranging: simple, static pages; large, ecommerce sites; and complex web apps
            li.job__desc Created a standardized boilerplate, minimizing developer startup costs for each new initiative
            li.job__desc Spearheaded modern workflows to save developer time and improve maintainability for long standing projects
            li.job__desc Developed an HTML email builder cutting development time by 80%
          p.job__duration <time datetime='2014-01'>Jan 2014</time>–<time datetime='2015-06'>June 2015</time>

      li.job.transition.job--das
        .job__wrapper
          h3.job__title.color-white Webmaster at Rochester Institute of Technology, Department of Access Service
          ul
            li.job__desc Managed development process and client requests, while presenting to outside stakeholders
            li.job__desc Created a website, including: a blog, event registration system, private document sharing and a resource checkout library
          p.job__duration <time datetime='2013-03'>March 2013</time>–<time datetime='2013-12'>Dec 2013</time>

      li.job.transition.job--progressive
        .job__wrapper
          h3.job__title.color-white Software Development & Web Experience Intern at Progressive Insurance
          ul
            li.job__desc Wrote a REST API and a responsive UI following test-driven development (TDD) for an internal tool
            li.job__desc Maintained Progressive’s homepage
          p.job__duration <time>Summer 2013</time>

      li.job.transition.job--rit
        .job__wrapper
          h3.job__title.color-white Student at Rochester Institute of Technology
          ul
            li.job__desc B.S. in Management Information Systems
            li.job__desc Minor in Computer Science
            li.job__desc GPA: 3.2
          p.job__duration <time datetime='2011-09'>Sept 2011</time>–<time datetime='2013-12'>Dec 2013</time>
