.logo {
	@extend %transition;
    position: absolute;
    left: 0;
    right: 0;
	background-color: white;
	overflow: hidden;
	height: unit()*4;
	width: unit()*4;
	padding: unit()/2;
	margin: 0 auto;
	display: block;
    
    > img {
		@extend %transition;
		display: block;
		max-width: none;
		// these dimensions are just to position the svg better
		width: unit()*4.333;
		margin-left: unit()*-.66;
		margin-top: unit()*-.15;
	}
    
    &:hover {
		width: unit()*5;
		height: unit()*6;
        
		> img {
			margin-left: unit()*-.15;
		}
	}
}