$base-font-size: 18;
$base-line-height: 1.625;

$palettes: (
	orange: (
		base: #dd4124
	),
	grey: (
		base: #333
	),
	blue: (
		base: #00c
	)
);

$z-index: (

);

@function unit($context: 1) {
	@return 1.61111111em / $context;
}

$fallback: Helvetica, Arial, sans-serif;
$regular: Lato, $fallback;
$reg: $regular;

// BREAKPOINTS
$tablet: 860px;