include /mixins/svg

doctype html
html(lang="en").no-js
    head
        title Michail Yasonik
        
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, minimal-ui, initial-scale=1')
        meta(http-equiv='X-UA-Compatible' content='IE=edge,chrome=1')
        meta(name='theme-color' content='#dd4124')


        //- link(rel='dns-prefetch', href='//google-analytics.com')

        //- link(rel='icon', href='favicon.png')

        if !production
            link(rel='stylesheet' href='main.css')
        else
            link(rel='stylesheet' href='main.min.css')

    body
        block body
