@mixin underlineShadow($color) {
    text-shadow: .03em 0 $color, -.03em 0 $color, 0 .03em $color, 0 -.03em $color, .06em 0 $color, -.06em 0 $color, .09em 0 $color, -.09em 0 $color, .12em 0 $color, -.12em 0 $color, .15em 0 $color, -.15em 0 $color;
}

@mixin underline() {
    $color: lighten(palette(orange), 25%);

    @include underlineShadow(white);
    background: linear-gradient($color, $color) 0 90% repeat-x;
    background-size: 1px 1px;
    
    &::selection {
        @include underlineShadow(palette(blue));
        background: palette(blue);
    }
    
    &::moz-selection {
        @include underlineShadow(palette(blue));
        background: palette(blue);
    }
}