@-ms-viewport { width: device-width; }
@-o-viewport { width: device-width; }
@viewport { width: device-width; }

@font-face {
    font-family: 'Lato';
    src: url('fonts/lato-regular-webfont.woff2') format('woff2'),
         url('fonts/lato-regular-webfont.woff') format('woff'),
         url('fonts/lato-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('fonts/lato-light-webfont.woff2') format('woff2'),
         url('fonts/lato-light-webfont.woff') format('woff'),
         url('fonts/lato-light-webfont.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

* {
	margin: 0;
	padding: 0;
	&,
	&:before,
	&:after {
		box-sizing: inherit;
	}
}

::moz-selection {
    background-color: palette(blue);
    color: white;
}
::selection {
    background-color: palette(blue);
    color: white;
}

html {
	box-sizing: border-box;
}

body {
	font: 62.5%/1.625 $regular;
	color: palette(grey);
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

header,
main,
footer {
	font-size: 1.8em
}

main,
footer {
	margin-left: unit();
	margin-right: unit();
}

img {
	max-width:100%;
}

menu {
	list-style-type: none;
}

a:not(.silent-link) {
	color: palette(orange);
    text-decoration: none;
    &:hover {
        @include underline;
    }
}

p,
// ul,
ol,
// pre,
// table,
// blockquote
{
	margin: unit() 0;
}