%justify-list {
    text-align: justify;
    font-size: 0.1px;
    > li {
        display: inline-block;
    }
    &:after {
        content: '';
        display: inline-block;
        width: 100%;
    }
}