.contact-nav {
    @extend %justify-list;
    max-width: (100rem / 1.6);
    margin: 0 auto;
    
    &__item {
        width: 25%;
        text-align: center;
    }
    
    &__link {
        @extend %transition--long;
        font-size: 1rem;
        display: inline-block;
        width: unit(.5);
        height: unit(.5);
        border-radius: 50%;
        padding: 16px 0;
        border: 2px solid white;
        &--tall {
            padding: 12px 0;
        }
        &:hover {
            background-color: white;
            .icon--whiteFill {
                fill: palette(orange);
            }
        }
    }
}