.page {
    &__header {
        background-color: palette(orange);
        color: white;
        text-align: center;
        padding: unit()*2 unit();
        font-weight: 300;
    }
        &__headline {
            margin-top: (unit()*6/1.55555556);
            @media (min-width: $tablet) {
                margin-top: (unit()*6/1.94444444);
            }
        }
    
    
    &__footer {
        text-align: center;
        padding-bottom: unit()*2;
        border-top: 1px solid palette(orange);
        margin-top: unit()*2;
    }
}