.timeline {
    @extend %cf;
	list-style-type: none;
    position: relative;
    padding: unit() 0 unit() 3em;
    max-width: (150em / 1.8);
    margin: unit() auto 0;
    
    @media (min-width: $tablet) {
        padding-left: 0;
    }
    
    &:before {
        content: '';
        position: absolute;
        top: 0;
        width: .5em;
        height: 100%;
        border-radius: .25em;
        background-color: palette(orange);
        left: .25em;
        
        @media (min-width: $tablet) {
            left: calc(50% - .25em);
        }
    }
	
    &-event {
		position: relative;
        border-left: 1px solid palette(orange);
        border-right: 1px solid palette(orange);
        border-bottom: 1px solid palette(orange);
        margin-top: unit();
        
        &--ms {
            &:before {
                background-image: url('imgs/ms.svg');
                background-size: 75%;
            }
        }
        
        &--pdp {
            &:before {
                background-image: url('imgs/pdp.svg');
                background-size: 75%;
            }
        }
        
        &--csh {
            &:before {
                background-image: url('imgs/csh.svg');
                background-size: 50%;

            }
        }
        
        &--prog {
            &:before {
                background-image: url('imgs/prog.svg');
                background-size: 50%;
            }
        }
        
        &--rit {
            &:before {
                background-image: url('imgs/rit.svg');
                background-size: 75%;
            }
        }
        
        &:first-child {
            margin-top: 0;
        }
        
        @media (min-width: $tablet) {
            width: calc(50% - #{unit()*1.5});
            margin-top: unit()*1.5;
            
            &:nth-child(2) {
                margin-top: 5.5em;
            }
            
            &:nth-child(odd) {
                float: left;
                clear: left;
                
                > .timeline-event__header {
                    &:before,
                    &:after {
                        left: auto;   
                    }
                    
                    &:before {
                        right: -6.8em;
                    }
                    
                    &:after {
                        border-right: 0;
                        border-left: 1em solid palette(orange);
                        right: -1em;
                    }
                }
            }
            
            &:nth-child(even) {
                float: right;
                clear: right;
            }
        }
        
		&__header {
            position: relative;
            background-color: palette(orange);
            color: white;
            font-weight: 300;
            padding: unit()/4 unit()/2;
            margin: 0;
            
            &:before,
            &:after {
                content: '';
                font-size: 10px;
                font-size: .625rem;
                position: absolute;
                top: 50%;
            }
            
            &:before {
                box-sizing: content-box;
                left: -7.1em;
                border-radius: 50%;
                width: 4em;
                height: 4em;
                background-color: white;
                border: .5em solid palette(orange);
                margin-top: -2.25em;
                background-position: center;
                background-repeat: no-repeat;
            }
            
            &:after {
                left: -1em;
                width: 0;
                height: 0;
                border-right: 1em solid palette(orange);
                border-top: 1em solid transparent;
                border-bottom: 1em solid transparent;
                margin-top: -1em;
            }
            
            &:active {
                + .timeline-event__description > .timeline-event__description--more {
                    display: block;
                }
            }
		}
		&__description {
            padding: 0 unit()/2;
			&--more {
				display: none;
			}
		}
        &__duration {
            font-size: (1.2em / 1.8);
            margin: 0;
            text-align: right;
            margin-top: -1em;
            padding: 0 unit()/2 unit()/4;
		}
	}
}